[submodule "pack/bundle/start/vim-highlighturl"]
	path = pack/bundle/start/vim-highlighturl
	url = https://github.com/itchyny/vim-highlighturl.git
[submodule "pack/bundle/start/vim-numbertoggle"]
	path = pack/bundle/start/vim-numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle.git
[submodule "pack/bundle/start/vim-better-whitespace"]
	path = pack/bundle/start/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "pack/bundle/start/vim-sensible"]
	path = pack/bundle/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "pack/bundle/start/vim-tabular"]
	path = pack/bundle/start/vim-tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "pack/bundle/start/vim-bullets"]
	path = pack/bundle/start/vim-bullets
	url = https://github.com/dkarter/bullets.vim.git
