[submodule "pack/bundle/start/vim-highlighturl"]
	path = pack/bundle/start/vim-highlighturl
	url = https://github.com/itchyny/vim-highlighturl.git
[submodule "pack/bundle/start/vim-numbertoggle"]
	path = pack/bundle/start/vim-numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle.git
[submodule "pack/bundle/start/vim-better-whitespace"]
	path = pack/bundle/start/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "pack/bundle/start/vim-tabular"]
	path = pack/bundle/start/vim-tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "pack/bundle/start/vim-ctrlp"]
	path = pack/bundle/start/vim-ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/bundle/start/vim-bullets"]
	path = pack/bundle/start/vim-bullets
	url = https://github.com/sfsam/bullets.vim.git
[submodule "pack/bundle/start/vim-surround"]
	path = pack/bundle/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/bundle/start/vim-buftabline"]
	path = pack/bundle/start/vim-buftabline
	url = https://github.com/ap/vim-buftabline.git
[submodule "pack/bundle/start/vim-open-browser"]
	path = pack/bundle/start/vim-open-browser
	url = https://github.com/tyru/open-browser.vim.git
